<div class="page">
  <section class="section">
    <h2>{{ post?.title }}</h2>
    <p>{{ post?.content }}</p>
  </section>
  <aside class="aside">
    <h3>Jokes you might enjoy</h3>
    <div class="card-container card-container--list">
      <ng-container *ngIf="posts$ | async as posts else loading">
      <button
        *ngFor="let post of posts"
        [routerLink]="['/post', post.slug]"
        class="card card-small"
      >
        <span>{{ post.title }}</span>
      </button>
    </ng-container>
    <ng-template #loading>Loading jokes...</ng-template>
    </div>
  </aside>
</div>
